<app-encabezado></app-encabezado>
<app-carrusel></app-carrusel>

<body>
    

<section>
    <h2>¿QUE ES SILSA CONSULTORES?</h2>
    <p>Silsa consultores es un grupo de profesionales experimentados en sus
        áreas de trabajo. Con cobertura a nivel regional, que ofrece a las
        empresas, herramientas para su desarrollo y consolidación en sus
        actividades económicas.</p>
    <p>Contáctanos para obtener más información.</p>
    <button>
        Servicios
    </button>
</section>

<app-mapa></app-mapa>
<app-card></app-card>
<app-prueba></app-prueba>
</body>
<app-footer></app-footer>

