section {
  max-width: 570px;
  margin: 0px auto;
  padding: 30px;
  background-color: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 100px; /* Establece el margen izquierdo a 0 */
  margin-right: auto; /* Deja el margen derecho automático */
}
app-acordion-mvv{
  padding:0px;
  width: calc(50% - 40px); /* Calcula el ancho para ocupar la mitad del contenedor con un pequeño espacio entre elementos */
  float: right; /* Coloca el acordeón en el lado derecho */
}
app-card{
  padding:0px;
  width: calc(42% - .01px); /* Calcula el ancho para ocupar la mitad del contenedor con un pequeño espacio entre elementos */
  float: right; /* Coloca el acordeón en el lado derecho */
}
app-botonteam{
  padding:0px;
  width: calc(42% - .01px); /* Calcula el ancho para ocupar la mitad del contenedor con un pequeño espacio entre elementos */
  float: right; /* Coloca el acordeón en el lado derecho */
}

li p.inside-li {
  color: blue;
}


h2{
  font-weight: bold;
  font-family:Geovano Sans ;
  color:#f4f6f8 ;
}

p{
  font-size: 20px;
  font-family: Montserrat, sans-serif;
  color: rgb(243, 239, 239);
}
label{
  margin-left: 30px;
  font-size: 25px;
  font-weight: bold;
  font-family: Montserrat, sans-serif;
  color: #153763;
}

@media (max-width: 768px) {
  p {
    font-size: 14px; /* Reducir el tamaño de la fuente para dispositivos móviles */
  }
}
button{
border: 0;
background-color: #fff;
border-radius: 8px;
color :#063755;
display: flex;
font-family: Montserrat Classic;
font-weight: bold;
font-size: 18px;
padding: 4px;
cursor: pointer; 
transition: .3s; 
}
button span{
  background-color: none
;
  padding: 16px,28px;
  border-radius: 6px;
  transition: .3s;
}
button:hover  {
  background:#A50D36;
  color :#fff;
  border:#153763 ;
}
button:active{
  transform: scale(0.9);
}
li{
  background-color: #f4f6f8;
}

body{
  min-height: 100vh;
  background:#153763;
  background-repeat: no-repeat;
  background-position: center center;
  height: 1080;
  background-attachment: fixed;
  background-size: cover;
}
