<app-encabezado></app-encabezado>
<app-carrusel></app-carrusel>
<app-acordion-mvv></app-acordion-mvv>
<body>
    
<section>
    <h2>¿QUE ES SILSA CONSULTORES?</h2>
    
    <p>Silsa consultores es un grupo de profesionales experimentados en sus
        áreas de trabajo. Con cobertura a nivel regional, que ofrece a las
        empresas, herramientas para su desarrollo y consolidación en sus
        actividades económicas.</p>
    <p>Contáctanos para obtener más información.</p>
    <button>
        Servicios
    </button>
</section>
<li>
    <label for="second">El territorio Silsa cuenta con 23 consultores que cubren 21 municipios dentro de 13 estados.</label>
    <app-card></app-card>
    <app-botonteam></app-botonteam>
    <div class="content">
        <app-mapa></app-mapa>
        <div>
        
    </div>
        <p class="inside-li">Hola</p> <!-- Agregamos una clase "inside-li" al párrafo -->
    </div>
</li>

<app-carrusel-card></app-carrusel-card>
<app-prueba></app-prueba>
</body>
<app-footer></app-footer>

