<app-encabezado></app-encabezado>
<app-carrusel></app-carrusel>


<section>
    <h2>Bienvenido a Silsa Consultores</h2>
    <p>Silsa consultores es un grupo de profesionales experimentados en sus
        áreas de trabajo. Con cobertura a nivel regional, que ofrece a las
        empresas, herramientas para su desarrollo y consolidación en sus
        actividades económicas.</p>
    <p>Contáctanos para obtener más información.</p>
</section>

<app-mapa></app-mapa>
<app-prueba></app-prueba>

<app-footer></app-footer>

