section {
  max-width: 800px;
  margin: 0px auto;
  padding: 20px;
  background-color: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 120px; /* Establece el margen izquierdo a 0 */
  margin-right: auto; /* Deja el margen derecho automático */
}

h2{
  font-weight: bold;
  font-family:Geovano Sans ;
  color:#f4f6f8 ;
}
p{
  font-size: 20px;
  font-family: Montserrat, sans-serif;
  color: rgb(243, 239, 239);
}

@media (max-width: 768px) {
  p {
    font-size: 14px; /* Reducir el tamaño de la fuente para dispositivos móviles */
  }
}
button{
border: 0;
background-color: #fff;
border-radius: 8px;
color :#063755;
display: flex;
font-family: Montserrat Classic;
font-weight: bold;
font-size: 18px;
padding: 4px;
cursor: pointer; 
transition: .3s; 
}
button span{
  background-color: none
;
  padding: 16px,28px;
  border-radius: 6px;
  transition: .3s;
}
button:hover  {
  background:#A50D36;
  color :#fff;
  border:#153763 ;
}
button:active{
  transform: scale(0.9);
}
body{
  min-height: 100vh;
  background: linear-gradient(rgba(5,7,12,1),rgba(5,7,12,1));
  background-image: url(../../../../assets/img/FondoPrin.png);
  background-repeat: no-repeat;
  background-position: center center;
  height: 1080;
  background-attachment: fixed;
  background-size: cover;
}
