

	
	<div class="contenedor">
	  	<div class="contenedor-cards">            
		    <div class="contenedor-card-item">
		      	<div class="contenedor-card-item-wrapper">
		        	<img src="../../../../assets/img/teamsilsaz.png" alt="">
		        	<div class="contenedor-info">
		          		<div class="info">
		            		<p class="titulo">Capacitaciones</p>
		            		<span class="categoria">Somos un gruoo de profesionistas que trabajamos bajo la norma iso 9001:2015</span>
		          		</div>
		          		<div class="fondo"></div>
		        	</div>
		      	</div>
		    </div>
        </div>
    </div>

