

<body>
    <app-encabezado></app-encabezado>
    <app-carrusel></app-carrusel>
   <div class="timeline">
    <div class="container left-container">
        <img src="../../../../assets/img/card6.ico" class="d-block w-10" alt="..." >
        <div class="text-box">
            <h2>Nuestro inicio</h2>
            <small>2005</small>
            <p>
                idea de conformar Silsa Consultores®.
            </p>
            <span class="left-container-arrow"></span>
        </div>
    </div>


    <div class="container right-container">
        <img src="../../../../assets/img/card6.ico" class="d-block w-10" alt="..." >
        <div class="text-box">
            <h2>Asesores Financieros a nivel Estatal y Federal.</h2>
            <small>2007</small>
            <p>
                Participación como asesores en módulos México Emprende en Tamaulipas.
            </p>
            <span class="right-container-arrow"></span>
        </div>
    </div>


    <div class="container left-container">
        
        <div class="text-box">
            <h2>Titulo prueba3</h2>
            <small>2008</small>
            <p>
                Facilitadores en el Programa Nacional de Incubación de Empresas Sociales FONAES.
            </p>
            <span class="left-container-arrow"></span>
        </div>
    </div>


    <div class="container right-container">
        
        <div class="text-box">
            <h2>Consultores en el programa nacional de consultoría PyME JICA.</h2>
            <small>2009</small>
            <p>
                Capacitadores en ENCUENTROS NACIONALES E INTERNACIONALES de empresas sociales FONAES.
            </p>
            <span class="right-container-arrow"></span>
        </div>
    </div>


   </div>
   <app-footer></app-footer>
</body>