    <ul class="acordion-mvv">
        <li>
            <input type="radio" name="acordion-mvv" id="first">
            <label for="first">Misión</label>
            <div class="content">
                <p>Somos una organización especializada en la creación,
                    desarrollo, aceleración y consolidación de ideas-proyectos para
                    emprendedores - empresarios a través de un equipo de alto
                    nivel comprometido con la innovación, calidad, rentabilidad y
                    un amplio espíritu de servicio fomentando la consolidación de
                    empresas de éxito en sus sectores.
                </p>

            </div>
        </li>
        <li>
            <input type="radio" name="acordion-mvv" id="second">
            <label for="second">Visión</label>
            <div class="content">
                <p>Para el 2020
                    Ser un referente líder en el sector, con presencia en
                    Latinoamérica, contribuyendo activamente al crecimiento
                    económico regional y sectorial, fomentando la competitividad,
                    productividad e innovación en las empresas, a través de la
                    consolidación de alianzas estratégicas establecidas.
                </p>

            </div>
        </li>
        <li>
            <input type="radio" name="acordion-mvv" id="tercero">
            <label for="tercero">Valores</label>
            <div class="content">
                <p>Ética,
                    Pasión,
                    Honestidad,
                    Trabajo en Equipo.
                </p>

            </div>
        </li>

    </ul>
