<footer>
  <div class="container">

      <div class="contact-info">

          <p><i class="fa fa-map-marker"></i> Benito Juárez 411, Laguna de La Puerta, 89310 Tampico, Tamps.</p>
          <p><i class="fa fa-phone"></i> +52 833 372 1133</p>
          <p><i class="fa fa-envelope"></i>contacto&#64;silsaconsultores.com</p>

      </div>
    
      <div class="social-links">
        <a href="https://facebook.com/silsaconsultores" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="https://twitter.com/silsaconsul" target="_blank"><i class="fab fa-x-twitter"></i></a>
    </div>
    
    
  </div>
  <p class="copyright">&copy; 2024 Silsa Consultores S.C.</p>
</footer>
