<nav class="navbar navbar-expand-lg bg-body-tertiary;background-color: " style="background-color: #254F74;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color: white; font-family: Montserrat, sans-serif;">
      <img src="../../../../assets/img/logo.jpg" width="30" height="30" class="d-inline-block align-top" alt="Logo"> Silsa Consultores
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="dce"style="color: white; font-family: Montserrat, sans-serif;">DCE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="conocenos"style="color: white; font-family: Montserrat, sans-serif;">Conocenos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"style="color: white; font-family: Montserrat, sans-serif;">Servicios</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="contactanos"style="color: white; font-family: Montserrat, sans-serif;">contactanos</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="login"style="color: white; font-family: Montserrat, sans-serif;">login</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" style="color: white; font-family: Montserrat, sans-serif;"role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Silsa Team
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#" style="color: #323B60;">Postulate con nosotros</a></li>
            <li><a class="dropdown-item" href="#" style="color: #323B60;">Haz tus practicas aqui</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#" style="color: #323B60;">Comienza con nosotros</a></li>
            <li><a class="dropdown-item" href="#" style="color: #323B60;">Conoce nuestro equipo de trabajo</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="Consulta aqui" placeholder="Consulta aqui" aria-label="Consulta aqui">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>