<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    
    <a href="url_de_la_pestana_principal">
      <img src="../../../../assets/img/logo.jpg" alt="" style="width: 70px; height: 70px;">
    </a>
  
    <a class="navbar-brand" href="#">Silsa consultores </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menú</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Conocenos</a>
            <a class="nav-link active" aria-current="page" href="#">Servicios</a>
            <a class="nav-link active" aria-current="page" href="#">DCE</a>
            
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li> -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Silsa Team
            </a>

            <ul class="dropdown-menu dropdown-menu-dark">
              
              <li><a class="dropdown-item" href="#">Equipo Silsa</a></li>
              
              <li>
                <hr class="dropdown-divider">
              </li>

              <li><a class="dropdown-item" href="https://forms.monday.com/forms/49fa621cb4f036dd47509741dd84b8aa?r=use1">¿En que te podemos ayudar?</a></li>
              <li><a class="dropdown-item" href="https://wkf.ms/44c3nIW">Bolsa de trabajo</a></li>
              <li><a class="dropdown-item" href="https://forms.monday.com/forms/embed/f4e176671c065184243d0aaf8c233fd1?r=use1">haz tus practicas aquí</a></li>
            

            
            </ul>
          </li>
        </ul>
        <form class="d-flex mt-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>